*.class
*.jar
/.clj-kondo
/.cpcache
/.lein-*
/.lsp
/.nrepl-port
/.shadow-cljs
/checkouts
/classes
/codox
/node_modules
!/storage/.keep
/storage
/resources/public/js
!/target/.keep
/target
pom.xml
pom.xml.asc
.env
