{:paths ["resources" "src" "target/assets"]

 :deps
 {buddy/buddy-hashers {:mvn/version "2.0.167"}
  cljs-http/cljs-http {:mvn/version "0.1.49"}
  com.cnuernber/charred {:mvn/version "1.037"}
  com.taoensso/telemere {:mvn/version "1.1.0"}
  environ/environ {:mvn/version "1.2.0"}
  haslett/haslett {:mvn/version "0.2.0"}
  hato/hato {:mvn/version "1.0.0"}
  clojure.java-time/clojure.java-time {:mvn/version "1.4.3"}
  metosin/muuntaja {:mvn/version "0.6.11"}
  metosin/reitit {:mvn/version "0.9.1"}
  org.clojure/clojure {:mvn/version "1.12.3"}
  org.clojure/clojurescript {:mvn/version "1.12.42"}
  org.clojure/tools.analyzer {:mvn/version "1.2.0"}
  org.ring-clojure/ring-websocket-async {:mvn/version "0.2.0"}
  org.ring-clojure/ring-websocket-middleware {:mvn/version "0.2.1"}
  org.ring-clojure/ring-websocket-transit {:mvn/version "0.1.0"}
  ring/ring-anti-forgery {:mvn/version "1.4.0"}
  ring/ring-core {:mvn/version "1.15.3"}
  ring/ring-defaults {:mvn/version "0.7.0"}
  ring/ring-jetty-adapter {:mvn/version "1.15.3"}
  thheller/shadow-cljs {:mvn/version "3.2.1"}
  ;;
  io.github.hkimjp/datascript-storage-javatime {:git/tag "0.7.4" :git/sha "f5c3196"}}

 :aliases
 {:run-m   {:main-opts ["-m" "chat.server"]
            :jvm-opts  ["--enable-native-access=ALL-UNNAMED"]}
  :cljs    {:main-opts ["-m" "shadow.cljs.devtools.cli"]}
  :dev     {:extra-paths ["dev"]
            :extra-deps {nrepl/nrepl {:mvn/version "1.4.0"}
                         org.slf4j/slf4j-nop {:mvn/version "2.0.17"}}
            :jvm-opts ["--enable-native-access=ALL-UNNAMED"
                       "--sun-misc-unsafe-memory-access=allow"]}
  :server  {:exec-fn chat.server/start
            :exec-args {:port 8080}}
  :build   {:deps {io.github.clojure/tools.build
                   {:git/tag "v0.10.10" :git/sha "deedd62"}}
            :ns-default build}}}
